@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    
    --background: #FFFFFF;
    --foreground: #050133;
 
    --muted: #EFF6F9;
    --muted-foreground:#6F7D88; 
 
    --popover: #FFFFFF;
    --popover-foreground: #050133;
 
    --card: #FFFFFF;
    --card-foreground: #050133;

    --border: #D6E4EB;
    --input: #D6E4EB;

    --primary: #0A1320;
    --primary-foreground: #FAFBFC;

    --secondary: #EFF6F9;
    --secondary-foreground: #0A1320;

    --accent: #EFF6F9;
    --accent-foreground: #0A1320;

    --destructive: #D93636;
    --destructive-foreground: #FAFBFC;

    --ring: #050133
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #050133;
    --foreground: #FAFBFC;

    --muted: #232C39;
    --muted-foreground: #97A6BA;

    --popover: #050133;
    --popover-foreground: #FAFBFC;

    --card: #050133;
    --card-foreground: #FAFBFC;

    --border: #232C39;
    --input: #232C39;
    --primary: #FAFBFC;
    --primary-foreground: #0A1320;

    --secondary: #232C39;
    --secondary-foreground: #FAFBFC;

    --accent: #232C39;
    --accent-foreground: #FAFBFC;

    --destructive: #99291B;
    --destructive-foreground: #FAFBFC;

    --ring: #D6E4EB;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}