@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #050133;

    --muted: #eff6f9;
    --muted-foreground: #6f7d88;

    --popover: #ffffff;
    --popover-foreground: #050133;

    --card: #ffffff;
    --card-foreground: #050133;

    --border: #d6e4eb;
    --input: #d6e4eb;

    --primary: #0a1320;
    --primary-foreground: #fafbfc;

    --secondary: #eff6f9;
    --secondary-foreground: #0a1320;

    --accent: #eff6f9;
    --accent-foreground: #0a1320;

    --destructive: #d93636;
    --destructive-foreground: #fafbfc;

    --ring: #050133 --radius: 0.5rem;
  }

  .dark {
    --background: #050133;
    --foreground: #fafbfc;

    --muted: #232c39;
    --muted-foreground: #97a6ba;

    --popover: #050133;
    --popover-foreground: #fafbfc;

    --card: #050133;
    --card-foreground: #fafbfc;

    --border: #232c39;
    --input: #232c39;
    --primary: #fafbfc;
    --primary-foreground: #0a1320;

    --secondary: #232c39;
    --secondary-foreground: #fafbfc;

    --accent: #232c39;
    --accent-foreground: #fafbfc;

    --destructive: #99291b;
    --destructive-foreground: #fafbfc;

    --ring: #d6e4eb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
